<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2016 Cyanogen, Inc.
     Copyright (C) 2016 The CyanogenMod Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cyanogenmod.theme.chooser2"
    android:versionCode="200"
    android:versionName="2.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="cyanogenmod.permission.ACCESS_THEME_MANAGER" />
    <uses-permission android:name="cyanogenmod.permission.READ_THEMES" />
    <uses-permission android:name="cyanogenmod.permission.WRITE_THEMES" />

    <!-- The following permissions are used to hijack Google Play notifications
         when a theme is installed -->
    <uses-permission android:name="android.permission.CANCEL_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE" />

    <!-- Used to see if we are resuming from the launcher -->
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />

    <!-- Used to support wallpapers from external sources -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_KEYGUARD_WALLPAPER" />

    <!-- Used to cleanly uninstall themes without relying on the PackageInstaller apk -->
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />

    <!-- Used for disabling theme chooser icon if store exists -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Used for per-app themes -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Used to toggle Live Lock Screen setting -->
    <uses-permission android:name="cyanogenmod.permission.WRITE_SECURE_SETTINGS" />

    <permission android:name="org.cyanogenmod.themes.permission.THEMES_APP"
        android:protectionLevel="signatureOrSystem" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_themes"
        android:label="@string/app_name"
        android:theme="@style/ThemeChooserTheme" >
        <activity android:name="org.cyanogenmod.theme.chooser2.ChooserActivity"
                  android:label="@string/app_name"
                  android:theme="@style/ThemeChooserTheme"
                  android:configChanges="themeChange"
                  android:launchMode="singleTop"
                  android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="cyanogenmod.intent.category.APP_THEMES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APPLY_THEME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cyngn.intent.action.PICK_LOCK_SCREEN_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias android:name="org.cyanogenmod.theme.chooser2.ChooserLauncher"
            android:targetActivity="org.cyanogenmod.theme.chooser2.ChooserActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_app_themes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver android:name="org.cyanogenmod.theme.chooser2.AppReceiver" >
            <intent-filter>
                <action android:name="cyanogenmod.intent.action.THEME_INSTALLED" />
                <action android:name="cyanogenmod.intent.action.THEME_REMOVED" />
                <action android:name="cyanogenmod.intent.action.THEME_UPDATED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="org.cyanogenmod.theme.chooser2.NotificationHijackingService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service android:name="org.cyanogenmod.theme.perapptheming.PerAppThemingWindow" />
    </application>

</manifest>
