<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyngn.theme.chooser"
    android:versionCode="200"
    android:versionName="2.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_THEME_MANAGER" />
    <uses-permission android:name="android.permission.READ_THEMES" />
    <uses-permission android:name="android.permission.WRITE_THEMES" />

    <!-- The following permissions are used to hijack Google Play notifications
         when a theme is installed -->
    <uses-permission android:name="android.permission.CANCEL_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE" />

    <!-- Used to see if we are resuming from the launcher -->
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />

    <!-- Used to support wallpapers from external sources -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_KEYGUARD_WALLPAPER" />

    <!-- Used to cleanly uninstall themes without relying on the PackageInstaller apk -->
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />

    <!-- Used for disabling theme chooser icon if store exists -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Used for per-app themes -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <permission android:name="com.cyngn.themes.permission.THEMES_APP"
        android:protectionLevel="signatureOrSystem" />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_themes"
        android:label="@string/app_name"
        android:theme="@style/ThemeChooserTheme" >
        <activity android:name="com.cyngn.theme.chooser.ChooserActivity"
                  android:label="@string/app_name"
                  android:theme="@style/ThemeChooserTheme"
                  android:configChanges="themeChange"
                  android:launchMode="singleTop"
                  android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="cyanogenmod.intent.category.APP_THEMES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APPLY_THEME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias android:name="com.cyngn.theme.chooser.ChooserLauncher"
            android:targetActivity="com.cyngn.theme.chooser.ChooserActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_app_themes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver android:name="com.cyngn.theme.chooser.AppReceiver" >
            <intent-filter>
                <action android:name="themescontract.intent.action.THEME_INSTALLED" />
                <action android:name="themescontract.intent.action.THEME_REMOVED" />
                <action android:name="themescontract.intent.action.THEME_UPDATED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.cyngn.theme.chooser.NotificationHijackingService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service android:name="com.cyngn.theme.perapptheming.PerAppThemingWindow" />
    </application>

</manifest>
